@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  
  /* COLORS */
  --BGCOLOR: #d4dfea;
  --BG-CONTAINER-COLOR:#e1e7ec;
  --BG-HEADER-COLOR: #bdd8f4;
  --BG-FOOTER-COLOR:#bdd8f4;
  --BORDER-COLOR: rgb(15, 13, 13);
  
  --COLOR: rgb(16, 9, 228);
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: rgb(11, 11, 209);
  --LINK-HOVER: #6366f1;
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #c7d0da;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #F00;
  --BUTTON-DANGER:  #F00;
  --BUTTON-SUCCESS: #037f13;
  --BUTTTON-WARNING: #5f5014;
  --BUTTON-PRIMARY: #4f46e5;
  
}
/* || VARIABLES */
html {
  font-size: calc(15px + 0.390625vw);
}

body {
  display: block;
  font-family: 'Poppins', sans-serif;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  
}
footer{
  display: block;
  width: 100%;
  position: sticky;
  bottom: 0px;
}
.footer_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__username{
  font-weight: 700;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: var(--LINK-COLOR);
  padding: 10px;
}


a:hover,
a:focus-visible {
  color: white;
  background-color: var(--LINK-HOVER);
  border-radius: 10px;  
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  display: grid;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

.primary__button{
  color: var(--BUTTON-PRIMARY);
}

.success__button{
  color: var(--BUTTON-SUCCESS);
}

.warning__button{
  color: var(--BUTTTON-WARNING);
}

.danger__button{
  color: var(--BUTTON-DANGER);
}

/* || GENERAL STYLES */


#root {
  /* React root div */
  display: block;
  
}

.container{
  display: flex;
  max-width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items:center;
}
.wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header{
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sistem_giris{
  font-size: 1.5rem;
}


/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  flex-grow: 1;
}

.public__main,
.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  border-top: 1px solid var(--BORDER-COLOR);
  border-bottom: 1px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.public__addr {
  margin-top: 0em;
}

.welcome a::before {
  content: "➜ "
}

/* || DASH HEADER, CONTAINER & FOOTER */
.offscreen{
  display: none;
  width: 100%;
}

.dash-header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: var(--BG-HEADER-COLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}


.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}
.dash-header__button{
  font-size: 2rem;
  margin-right: 5px;
}

.dash-container {
  padding: 1rem 0.5rem 0.5rem 1rem;
  display: flex;
  background-color: var(--BG-CONTAINER-COLOR);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  
}

.dash-footer {
  font-size: 1rem;
  background-color: var(--BG-FOOTER-COLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.dash-footer__button {
  font-size: 1.5rem;
  width: auto;
  height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr{
  display: contents;  
}
tr:nth-child(odd) td {
  background-color: #f2f2f2;
}

tbody{
  width: 100%;
}
th{
  
 
}
.logo__text:hover{
  background-color: #f2f2f2;
  color: #4a44f5;
}
.aracsayisi{
  margin-bottom: 15px;
}
.table {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  color: var(--TABLE-COLOR);
  justify-content: center;
  align-content: center;
  border-spacing: 0;
}
.table_rapor {  
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  
}

.table_users {  
  grid-template-columns: repeat(3, 1fr);  
}

.table__button {
  width: 100%;
  height: 100%;
  padding: 3px 0 3px 0;
  font-size: 1.3rem;  
  background-color: transparent;
  border: none;
}

.table__thead {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th{
  color: blue;
  font-size: 1.1rem;
  font-weight: 600;

}
.table__cell {  
  color: blue;
  font-size: 0.9rem;
  font-weight: 400;
}

.table__th,
.table__cell {  
  text-align: left;
  padding-left: 5px;
  background-color: var(--TABLE-BGCOLOR);
}


.table__cell--inactive {
  background-color: var(--INACTIVE);
}

.table--notes {
  grid-template-columns: repeat(8, 1fr) ;
}

.calisan {
  grid-template-columns: repeat(7, 1fr) ;
}

.table_rapor {
  grid-template-columns: repeat(7, 1fr) ;

}

.table_users{
  grid-template-columns: repeat(3, 1fr) ;
}

/* ||  NOTE */

.note__created,
.note__updated,
.note__username {
  display: none;
}

.note__status {
  font-weight: bold;
}

.note__status--open {
  color: var(--STATUS-OPEN);
}

.note__status--completed {
  color: var(--STATUS-COMPLETE);
}


/* || FORM - GENERAL */
.form_wrapper{
  display: flex;
  flex-direction: column;
  width: 800px;
  justify-content: flex-start;
  align-items: stretch;
}

.form {
  display: flex;
  width: 768px;
  flex-flow: column nowrap;
  gap: 0.75em;
  
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  width: 100%;
  padding: 0.5em;
  border-radius: 8px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: 130px;
  padding: 0.25em;
  overflow: hidden;
}
.form__action-buttons-wrapper{
  position: relative;
}
.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}


@media screen and (100px < width <= 400px){
  .dash-header__title{
    font-size: 1.5rem;
  }
  .form{
    max-width: 100%;
  }
  .dash-header__button{
    margin-right: 0px;
  }
  .icon-button{
    font-size: 1.1rem;
    width: 30px;
    height: 36px;
  }

  .mobile_sm{
    display: none;
  }

  .mobile{
    display: none;
  }
  .table--notes {
    grid-template-columns: repeat(1, 2fr) repeat(3, 0.5fr) ;
  }
  .calisan {
    grid-template-columns: repeat(1, 2fr) repeat(2, 0.5fr) ;
  }
  
  .table_rapor {
    grid-template-columns: repeat(7, 1fr) ;

  }

  .dash-header__button{
    font-size: 1.7rem;
  }

  .form__select {
    width: 80px;
    padding: 0.25em;
  }
  
  .form_wrapper{
    width: 100%;
  }
  
  .form__button{
    font-size: 1.7rem;
  }
   
  .table__th,
  .table__cell {
  font-size: 0.7rem;
  padding: 0px;
}
.dash-header__nav {
  padding: 5px;
}
.dash-container {
  padding: 1.5rem  ;
}
}
@media screen and (400px < width <= 800px) {
  .dash-header__nav {
    padding: 5px;
  }

  .form{
    max-width: 100%;
  }

  .dash-container {
    padding: 2rem  ;
  }

  .form__select {
    width: 80px;
    padding: 0.25em;
  }

  .icon-button{
    font-size: 1.3rem;
    width: 34px;
    height: 32px;
  }
  .form_wrapper{
    width: 100%;
  }
  h1{
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  .mobile{
    display: none;
  }
  .table--notes {
    grid-template-columns: repeat(2, 2fr) repeat(3, 0.5fr) ;
  }
  .calisan {
    grid-template-columns: repeat(2, 2fr) repeat(2, 0.5fr) ;
  }
  .table_rapor {
    grid-template-columns: repeat(7, 1fr) ;

  }
  

  .dash-header__nav {
    gap: 0;
  }
  
}


@media screen and (800px < width <= 1200px) {
  .form {    
    max-width: 900px;    
  }

  .container{
    width: 100vw;
    height: 100vh;
  }
  
  .dash-footer {
    width: 100%;
  }
  .dash-container {
    padding: 2rem  ;
  }
  .form_wrapper{
    width: 100%;
  }

  .table {
    font-size: 1rem;
  }

  .table--notes {
    grid-template-columns: repeat(8, 1fr) ;
  }
  .calisan {
    grid-template-columns: repeat(7, 1fr) ;
  }

  .table_rapor {
    grid-template-columns: repeat(9, 1fr) ;

  }

  .table_users{
    grid-template-columns: repeat(3, 1fr) ;
  }

  .note__created,
  .note__updated,
  .note__username {
    display: block
  }

  
}